
@media screen and (max-width: 768px) {

    @font-face {
        font-family: AmericanaStd-Regular;
        src: url("/static/css/corpusHukukv1/fonts/AmericanaStd-Bold.otf") format("opentype");
    }
    main {
        z-index: 1;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

    }

    .header {
        padding: 12px;
        z-index: 3;
        top: 0;
        position: fixed;
        width: 100%; /* width: 100%; */
        background: linear-gradient(180deg, rgb(17 38 32) 0%, rgba(196, 196, 196, 0) 100%);
        /* transition: all 0.7s ease; */
    }

    .h__logo_img {
        display: block;
        width: 162px;
        height: 49px;
        /* object-fit: contain; */
    }


    .sidepanel {
        height: 100%; /* Specify a height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 9999; /* Stay on top */
        top: 0;
        right: 0;
        background-color: #112620; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 66px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    /* The sidepanel links */
    .sidepanel a {
        padding: 6px 1px 60px 2px;
        text-decoration: none;
        font-size: 20px;
        font-feature-settings: "kern" 1;
        font-kerning: normal;
        color: #e5e5e5;
        display: block;
        transition: 0.3s;
        font-family: "AmericanaStd-Regular", sans-serif;
    }

    /* When you mouse over the navigation links, change their color */
    .sidepanel a:hover {
        color: #f1f1f1;
    }

    /* Position and style the close button (top right corner) */
    .sidepanel .closebtn {
        position: absolute;
        top: 0;
        right: 20px;
        font-size: 50px;
        margin-left: 67px;
        margin-top: -8px;
    }


    /* Style the button that is used to open the sidepanel */
    .openbtn {
        font-size: 35px;
        cursor: pointer;
        background-color: #0c356100;
        color: white;
        padding: 7px -13px;
        border: none;
        color: #938100;
        font-weight: bolder;
        top: 7px;
        right: 10px;
        border-radius: 25%;
        /* display: flex; *//* justify-content: flex-end; *//* align-content: center; *//* flex-direction: row-reverse; *//* flex-wrap: nowrap; *//* align-items: center; *//* right: 0; */
        position: absolute;
        /* right: 0; */
    }

    .openbtn:hover {
        background-color: #444;
    }

    .openbtn:hover ~ .corpusMenuArkasi {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: rgb(54 54 54 / 70%);
        visibility: visible;
        opacity: 1;
        z-index: 9998;
    }

    .banner {
        width: 100%;
        top: 0;
        z-index: -1;
        /* position: absolute; */
        height: 100vh;
    }

    .banner .sayfaImage {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        filter: blur(0.9px);
    }

    .banner_Alan {
        display: flex;

        /* justify-content: center; */
        align-items: stretch;
        padding: 0;
        width: 100%;

        height: 100%;
    }

    .banner_Alan_Metin {

        margin-top: 10%;

        background-position-y: bottom;
        background-position-x: 0;
        background-repeat: no-repeat;
    }

    .banner_Alan_Metin p {
        text-align: left;color: #112620;
        font-family: "AmericanaStd-Regular", sans-serif;
        margin: 0;
        /* margin-bottom: 266px; */
        /* padding-bottom: 50px; */
        font-size: 35px;
        /* font-size: 3.125rem; */
        line-height: 50px;
        line-height: 3.1rem;
        /* font-feature-settings: "kern" 1; */
        /* font-kerning: normal; */
        padding: 24px;
        /* TEXT-TRANSFORM: UPPERCASE; */
        /* text-align: center; */
        margin-top: 100px;
    }

    .banner_Alan_Metin a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: #ffffffe6;
        height: 50px;
        width: 150px;
        margin-left: 120px;
        text-transform: uppercase;
        color: #484300;
        font-size: initial;
        font-family: "AmericanaStd-Regular", sans-serif;
        text-decoration: none;
    }


    .banner_Alan_Metin a i {
        width: 46px;
        height: 40px;
        color: black;
    }

    .content {
        height: 100%;
        width: 100%;
    }

    .hizmetler {
        height: 100%;
        background-color: #112620;

        /* margin-bottom: 200px; */
        padding: 24px;
    box-shadow: 0px -2px 20px 8px black;}

    .hizmetler_metin {
        height: 100%;

    }

    .hizmetler-cards {
        padding-bottom: 100px;
    }

    .hizmetler_metin h5 {
        color: whitesmoke;
        font-family: "AmericanaStd-Regular", sans-serif;
        font-size: 25px;
        text-transform: uppercase;
        /* padding: 24px; */

        /* padding-left: 24px; */
        padding-right: 24px;
        padding-top: 24px;
    }

    .hizmetler p {
        color: #828282;
        padding-left: 24px;
        padding-right: 24px;
        margin-bottom: 50px;
        font-family: "Inter", sans-serif;
        line-height: 1.4rem;
    margin-top: 50px;}

    .hizmetler img {
        width: 100%;
    }

    .hizmetler hr {
        color: #724c20;
        /* display: flex; */
        /* align-items: center; */
        /* justify-content: center; */
        /* align-content: center; */
        /* flex-direction: row; */
        /* flex-wrap: wrap; */
        width: 50%;
        background-color: bisque;
        margin-bottom: 140px;
    text-align: center;margin-left: 25%;}

     #designHR {

        height: 2px;
        color: #ce0c0c;
        /* width: 100%; */
        z-index: 1;
        /* width: 30%; */
        background-color: #efdb3d;
        /* top: 0; */

        /* top: 102.5%; */
        /* left: 160px; */
        border: 0;
    margin-bottom: 16px;

     margin-left: 0;
     }

    .cards_baslik h5 {
        color: whitesmoke;
        font-family: "AmericanaStd-Regular", sans-serif;
        font-size: 25px;
        text-transform: uppercase;
        /* padding: 24px; */

        /* padding-left: 24px; */
        padding-right: 24px;
    }

    .cards_baslik h5 hr {
        position: absolute;
        height: 1px;
        color: red;
        /* width: 100%; */
        z-index: 1;
        width: 30%;
        background-color: #d3a60f;
        /* top: 0; */

        /* top: 102.5%; */
        /* left: 160px; */
        border: 0;
    }

    .cardAlt {
        /* top: 40%; */
        position: absolute;
        /* height: 100%; */
        /* width: 88%; */
        /* background-color: #483800bd; */
        text-decoration-line: underline;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        padding: 23px;
    }

    .card_Item_front_title {

        font-family: "AmericanaStd-Regular", sans-serif;
        text-align: center;
        color: antiquewhite;
        text-transform: uppercase;
        margin-top: 10px;
    }

    .card_Item_front_text {

        /* font-family: "AmericanaStd-Regular", sans-serif; */
        color: wheat;
        height: 117px;
        color: #a0a0a0;
        /* padding-left: 56px; */
        /* padding-right: 56px; */
        font-size: 1rem;
        text-align: center;
        line-height: 1.4rem;
        padding: 7px 0;
        font-weight: 300;
        align-items: center;
        font-family: "Inter", sans-serif;
    }






    #hizmetlerOwl .item {
        height: 100%;
        /* color: #fff484; */
        /* width: 100%; */
        background-color: rgb(220 220 220 / 0%);
        /* padding: 24px; */
        /* margin-bottom: 100px; */
        height: 300px;
        text-align: -webkit-center;/* display: flex; *//* flex-direction: column; *//* flex-wrap: nowrap; *//* align-content: center; *//* justify-content: center; *//* align-items: center; */
    }

    #hizmetlerOwl  .owl-item img {
        max-width: 245px;
        height: 153px;
        background-repeat: no-repeat;
        background-attachment: unset;
        object-fit: contain;
        /* padding-left: 50px; */
        filter: contrast(0.3);
    }

    #hizmetlerOwl  .item h2 {
        position: absolute;
        top: 35%;
        margin-left: 101px;
        background-color: #00000087;
        padding: 25px;
    }

    #hizmetlerOwl  .owl-nav {
        top: 35%;
        position: absolute;
        height: 50px;
        width: 100%;
        color: #fff484;
        font-size: 50px;
        font-family: "AmericanaStd-Regular", sans-serif;
    }

    #hizmetlerOwl  button.owl-dot {
        background: none;
        /*color: inherit;*/
        border: none;
        padding: 0 !important;
        /* font: */
    }

    #hizmetlerOwl  .owl-nav button.owl-next {
        background: none;
        color: #f7e141;
        border: none;
        padding: 0 !important;
        font: inherit;
        right: 0;
        position: absolute;
        /* top: 50%; */
        font-size: 50px;
        margin-right: 8px;
    }

    #hizmetlerOwl  .owl-nav button.owl-prev {
        background: none;
        color: #f7e141;
        border: none;
        padding: 0 !important;
        font: inherit;
        left: 0;
        position: absolute;
        /* top: 50%; */
        font-size: 50px;
        margin-left: 8px;
    }






    .hizmetlerTumu {
        padding: 13px;
        text-align: center;
        display: flex;
        /* flex-wrap: nowrap; */
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .hizmetlerButton {
        border: groove;
        width: 150px;
        /* height: 10%; */
        font-size: 15px;
        background-color: #f0f8ff75;
    }

    .hizmetlerButtonA {
        color: antiquewhite;
        text-decoration: none;
        font-family: "Inter", sans-serif;
    }








    .hakkimizda {
        height: 100%;
        background-color: #eeeeee;
        padding: 24px;
    }

    .hakkimizdaTitle {
        font-size: 45px;
        font-family: 'AmericanaStd-Regular';
        line-height: 2.5rem;
        margin-bottom: 50px;
        margin-top: 50px;
        padding-right: 90%;
        color: #112620;
        text-align: start;
    }

    .hakkimizdaText {
        font-family: "Inter", sans-serif;
        line-height: 2rem;
        text-align: center;
        color: #7b877b;
    margin-bottom: 100px;}

    .hakkimizdaImage {
        width: 100%;
    text-align: center;}

    .hakkimizdaImage img {
        width: 150px;
    }








    .yetkinliklerimizTitle {
        font-size: 45px;
        font-family: 'AmericanaStd-Regular';
        line-height: 2.5rem;
        margin-bottom: 50px;
        margin-top: 50px;
        padding-left: 40%;
        color: #112620;
        text-align: end;
    }

    .yetkinliklerimizText {
        font-family: "Inter", sans-serif;
        line-height: 2rem;
        text-align: center;
        color: #7b877b;
    margin-bottom: 100px;}
.yetkinliklerimizOwl{
    margin-bottom: 100px;
}
    #yetkinlikOwl .item {
        height: 100%;
        /* color: #fff484; */
        /* width: 100%; */
        background-color: rgb(220 220 220 / 0%);
        /* padding: 24px; */
        /* margin-bottom: 100px; */
        height: 280px; display: flex;flex-direction: column;flex-wrap: nowrap;align-content: center;justify-content: center;align-items: center;
    }


    #yetkinlikOwl .owl-item img {
        max-width: 150px;
        height: 150px;
        background-repeat: no-repeat;
        background-attachment: unset;
        object-fit: cover;
        /* padding-left: 50px; */
        filter: contrast(0.3);
    border-radius: 50%;background-color: #00000024;}

    #yetkinlikOwl .item h2 {
        position: absolute;
        top: 35%;
        margin-left: 101px;
        background-color: #00000087;
        padding: 25px;
    }

    #yetkinlikOwl .owl-nav {
        top: 35%;
        position: absolute;
        height: 50px;
        width: 100%;
        color: #fff484;
        font-size: 50px;
        font-family: "AmericanaStd-Regular", sans-serif;
    /* margin-bottom: 50px; */}

    #yetkinlikOwl button.owl-dot {
        background: none;
        /*color: inherit;*/
        border: none;
        padding: 0 !important;
        /* font: */
    }

    #yetkinlikOwl .owl-nav button.owl-next {
        background: none;
        color: #d3a60f;
        border: none;
        padding: 0 !important;
        font: inherit;
        right: 0;
        position: absolute;
        /* top: 50%; */
        font-size: 50px;
        margin-right: 8px;
    }

    #yetkinlikOwl .owl-nav button.owl-prev {
        background: none;
        color: #d3a60f;
        border: none;
        padding: 0 !important;
        font: inherit;
        left: 0;
        position: absolute;
        /* top: 50%; */
        font-size: 50px;
        margin-left: 8px;

    }
    .FirmaCardAlt{
        display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    }
    .firma_card_Item_front_adet
    {
       font-size: 20px;
    font-weight: 800;
    font-family: "Inter", sans-serif;
    color: #d3a60f;
    }
    .firma_card_Item_front_title
    {
       font-size: 20px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: #d3a60f;
    }

.firma_card_Item_front_text
{
    text-align: center;
    font-family: "Inter", sans-serif;
    line-height: 1.5rem;
}

.vlog{
    height: 100%;
    background-color: #f3f3f3;
    padding: 24px;
/* margin-bottom: 100px; */}
.vlogCards{
    /* height: 100%; */
    width: 100%;
padding: 20px;}
.vlogCard{
    height: 100%;
    width: 300px;
    background-color: #f4f4f1;
padding: 24px;text-align: -webkit-center;border-radius: 10px;border: outset;}
#vlogItem{
        display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.vlogTumu{
    height: 100px;
    width: 100%;
    /* background-color: brown; */
    padding: 35px;
}
.vlogTumuButton{
    background-color: black;
    width: 100%;
    height: 100%;
    background-color: #ededed;
text-align: center;font-size: 18px;font-family: "Inter",sans-serif;text-decoration-style: none;text-transform: uppercase;border-style: groove;}

.vlogMetin{
    height: 100px;
    font-size: 30px;
    font-family:"AmericanaStd-Regular";
    padding: 24px;
    color: #112620;
    margin-bottom: 50px;
}
.vlogCardImage {
}
    .vlogCardImage img{
}
.vlogCardTag{
   background-color: #9381004f;color: black;width: 100%;float: left;top: 0;font-weight: 700;border-radius: 10px;font-family: "Inter",sans-serif;}
.vlogCardTitle{
  width: 100%;/* background-color: red; */text-align: center;/* float: left; */margin-top: 50px;font-size: 20px;color: #938100;font-weight: 600;font-family: 'AmericanaStd-Regular';}
.vlogCardText{

text-align: start;float: left;margin-top: 50px;font-family: "Inter", sans-serif;font-weight: 300;color: #394039;}
.vlogCardOwner{

font-family: "Inter",sans-serif;font-weight: 600;color: #112620;}


.vlogCardDate{

font-family: "Inter",sans-serif;font-weight: 600;color: #112620;}

.vlogCardAlt{
    margin-top: 220px;
font-size: 14px;}

.vlogOwl .owl-stage-outer .owl-stage .item{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}
.tumunuGorVlog{
    text-decoration: none;
    color: #938100;
    font-weight: 500;
}

.iletisim{

height: 100%;background-color: #112620;padding: 24px;}

.iletisimGenel{
    /* background-color: gray; */
    height: 100%;
    width: 100%;
}
.iletisimUst {
height: 100%;
    width: 100%;
    /* background-color: maroon; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: start;
    list-style-type: none;
    color: #bcb7a7;
    font-weight: 500;

}
.iletisimOrta{

    width: 100%;

}
.iletisimAlt{
    width: 100%;
    background-color: #112620;
    padding: 24px;
    color: #bcb7a7;
    font-weight: 500;
text-align: center;}
.iletisimAlt a{
        color: #bcb7a7;
    text-decoration: none;
}
.iletisimUstOrtaMenu{
    text-align: center;
    /* margin-bottom: 50px; */
}
.iletisimUstOrtaMenu img{
    width: 50%;
filter: contrast(0);}
#footerTumYazilar{
    color:slategray;
}

.footerVlogs{

}
.footerVlogsTitle{
    color: #bcb7a7;
    font-family: "Inter",sans-serif;
    font-weight: 600;
}
.footerVlogsLinks a{
    color: slategray;
    text-decoration: none;
    font-family: 'Inter',sans-serif;
    font-weight: 400;
}
.iletisimrOrtaSagMenu
{
        display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.odemeOrtaMenuImage{
width: 115px;
    float: left;
}
.odemeOrtaMenuImage img{
    width: 100%;
    filter: contrast(0);
}

.odemeOrtaOdemetitle{
    float: right;
    background-color: red;
    border-radius: 10px;
    padding: 10px;
    margin-left: 30px;

}
.odemeOrtaOdemetitle a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
}
.OdemeYontemiHakkinda{
       text-align: center;
    margin-top: 10px;
}

}